<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script type="text/javascript" src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '{{ page.id }}', // 可选。默认为 location.href
  owner: 'sendoh-akira',
  repo: 'sendoh-akira.github.io',
  oauth: {
    client_id: '266b9be6c70b2f0f984b',
    client_secret: '0b4ba3192a5e4cd3eb6cf9c1371def5a9ac8b7b8',
  },
})
gitment.render('container');

if($('.gitment-comments-init-btn').is(":visible")==true){
	gitment.init();
}
</script>