<div id="container"></div>

<link rel="stylesheet" href="{{ "/assets/css/gitment.css" | prepend: site.baseurl }}">

<script type="text/javascript" src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/gitment.browser.js" | prepend: site.baseurl }}"></script>


<script>
var gitment = new Gitment({
  id: '{{ page.id }}', // 可选。默认为 location.href
  owner: 'sendoh-akira',
  repo: 'sendoh-akira.github.io',
  oauth: {
    client_id: '6179bc18e56d3482381e',
    client_secret: 'a83b8fe27021e6bc31e3f1563867732c218f49f5',
  },
})
gitment.render('container');
</script>