<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- 添加搜索关键字 -->
  <meta name="keywords" content="武燕飞,https://sendoh-akira.github.io/">

  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- <script src="https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/ecom/esl/2-1-4/esl.js"></script> -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/js/fancybox/jquery.fancybox.css" | prepend: site.baseurl }}" media="screen">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" >
  <link rel="stylesheet" href="{{ "/assets/js/prettify/prettify.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ site.favicon }}" />
  <link rel="stylesheet" href="{{ "/assets/css/duoshuo.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script>var duoshuoQuery = {short_name:"wuyanfei"};  </script>
  <script type="text/javascript" src="{{ "/assets/js/echarts.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/embed.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/ua-parser.js" | prepend: site.baseurl }}"></script>
  <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

  <!--sharethis js-->
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="https://ss.sharethis.com/loader.js"></script>
  <script type="text/javascript">stLight.options({publisher:'45ae8ed6-be01-4433-8737-05cd5e8a7653'});</script>

</head>
