<!-- <div class="bdshare">
    <span class="fenx">分享文章到：</span>
    <div class="bdsharebuttonbox fl bdshare-button-style0-32">
        <a href="#" class="bds_more" data-cmd="more"></a>
        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    </div>
</div>
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "1",
            "bdSize": "24"
        },
        "share": {},
        "image": {
            "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
            "viewText": "分享到：",
            "viewSize": "16"
        },
        "selectShare": {
            "bdContainerClass": null,
            "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]
        }
    };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script> -->
<!-- 百度分享 END -->
<!--多说分享 Begin -->

<!-- <div class="ds-share flat" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-images="" data-content="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}">


  <div id="ds-reset" class="ds-share-inline">
       <ul  class="ds-share-icons-32" services="weibo,wechat,qq,douban,twitter,facebook,linkedin">
           <li> <a class="ds-weibo" href="javascript:void(0);" data-service="weibo"></a> </li>
           <li> <a class="ds-wechat" href="javascript:void(0);" data-service="wechat"></a> </li>
           <li> <a class="ds-qq" href="javascript:void(0);" data-service="qq"></a> </li>
           <li> <a class="ds-douban" href="javascript:void(0);" data-service="douban"></a> </li>
           <li> <a class="ds-twitter" href="javascript:void(0);" data-service="twitter"></a> </li>
           <li> <a class="ds-facebook" href="javascript:void(0);" data-service="facebook"></a> </li>
           <li> <a class="ds-linkedin" href="javascript:void(0);" data-service="linkedin"></a> </li>
       </ul>
   </div>
</div> -->

<!--多说分享 End -->


<!--sharethis start-->


<span st_url='{{ site.url }}{{ page.url }}' st_title='{{ page.title }}' class='st_facebook_large' displayText='Facebook'></span>
<span st_url='{{ site.url }}{{ page.url }}' st_title='{{ page.title }}' class='st_googleplus_large' displayText='Google  '></span>
<span st_url='{{ site.url }}{{ page.url }}' st_title='{{ page.title }}'  class='st_twitter_large' displayText='Tweet'></span>
<span st_url='{{ site.url }}{{ page.url }}' st_title='{{ page.title }}' class='st_sina_large' displayText='Sina'></span>
<span st_url='{{ site.url }}{{ page.url }}' st_title='{{ page.title }}' class='st_email_large' displayText='Email'></span>

<!--sharethis end-->
