<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="content">
   	<div class="container">
   		<div class="row">

			<div class="col-md-3 col-lg-3 hidden-xs hidden-sm aside1 fadein-left">
				<div class="profile box-shadow center">
					<div class="overlay"></div>
					<div class="center gavatar">
						<a href="{{ site.baseurl }}" class="profile_gavatar"><img class="circle" src="{{ site.gavatar }}"></a>
					</div>
					<div class="address">
						<h5><span class="fa fa-map-marker"></span> BeiJing, China</h5>
					</div>
					<div class="center profile_desc">
						{{ site.profile_desc }}
					</div>

				</div>

			

				<div class="tag-cloud-text">
					<a href="{{site.baseurl}}/pages/tags.html" title="标签" class="pjaxlink"><p class="center">标签</p></a>
				</div>
				<div class="tag-cloud ">
					<hr>
					<div class="page-tag">
							{% for tag in site.tags %}
								<a href="{{site.baseurl}}/pages/tags.html#{{tag[0]}}" name="{{tag[0]}}" class="pjaxlink"><i class="fa fa-tags"></i>{{ tag[0] }}({{tag[1].size}})</a>
							{% endfor %}
					</div>
				</div>
				<div class="clear"></div>
				<div class="recentcome box-shadow">
	 				<p>最近访客 <i class="fa fa-user"></i></p>
	 				<ul style="list-style-type:none;" class="ds-recent-visitors" data-num-items="15"></ul>
	 			</div>
	 			<div class="comment box-shadow">
	 				<p>最新评论 <i class="fa fa-comments"></i></p>
	 				<ul style="list-style-type:none;" class="ds-recent-comments"  data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1"  data-show-admin="1" data-excerpt-length="50"></ul>
	 			</div>


	 			<div class="recentuse">
	 					<p>经常出没</p>
	 					<hr>
	 					<ul>

	 					</ul>
	 			</div>

				<div class="friendlink">
	 					<p>友情链接</p>

	 			</div>

			</div>

			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 box-shadow fadein-right aside2">
					<div class="page-content" id="pjax">{{content}}</div>
			</div>



 		</div>
	</div>
    </div>


	<div class="profile_social">
		<a class="rss" href="{{ site.rss_url }}" target="_blank"></a>
		<a class="github" href="{{ site.author.github }}"  target="_blank"></a>
		<a class="weibo" href="{{ site.author.weibo }}"  target="_blank"></a>
	</div>

    <div id="backtotop">
    		<a href="#"><i class="fa fa-arrow-circle-up"></i></a>
    </div>

    <div class="pjax_loading"></div>

    {% include footer.html %}

	<script>
		
		$(function(){
			loadGitment() ;
		})
	
		function loadGitment() {

			var url = "https://api.github.com/repos/sendoh-akira/sendoh-akira.github.io/issues/comments?client_id=266b9be6c70b2f0f984b&client_secret=0b4ba3192a5e4cd3eb6cf9c1371def5a9ac8b7b8" ;
			
			var  visitors = $('.ds-recent-visitors'); 
			
			var vdn =  $(visitors).attr('data-num-items');
			
			var comments = $('.ds-recent-comments');
			
			var cdn = $(comments).attr('data-num-items');
			
			$(comments).empty();
			$(visitors).empty();
			
			$.getJSON(url+"&callback=?", function(result) {
				var data = result.data ;
				
				//去除重复的访客记录。
				var qc='';
				if(data){
					$.each(data, function(index, d) {
						var user = d.user ;
						if(user){
							if(qc.indexOf(d.user.login)<0){
							//载入最近访客
							var vLi = $('<li>').prop('style','margin-bottom: 7px; margin-right: 3px;position: relative;');
							var vA = $('<a>').prop('style','color: #1756a9;').prop('href','https://github.com/'+d.user.login).prop('target','_blank');
							var vImg =$('<img>').prop('style','margin-left:8px;width: 44px;height: 44px;border-radius: 3px;-webkit-border-radius: 4px;').prop('src', d.user.avatar_url);
							var vDate = '<span style="display: block;height: 20px;line-height: 20px;margin-top: 2px;">'+d.updated_at.substr(0,9)+'</span>';
							vA.append(vImg).append(vDate);
							vLi.append(vA).appendTo(visitors);
						}							
						qc=qc+','+d.user.login;
						//载入最新评论
						
						var issue_url = d.issue_url+"?client_id=266b9be6c70b2f0f984b&client_secret=0b4ba3192a5e4cd3eb6cf9c1371def5a9ac8b7b8";
						$.getJSON(issue_url+"&callback=?",function(r){
							var issue = r.data;
							var li = $('<li>').prop('style','font-size: 13px;list-style: none;line-height: 20px;');
						
							var liA = $('<a>').prop('style','display: block;padding: 5px;transition: all .3s ease-out;border-bottom: 1px solid #ddd; margin: 5px 0;').prop('href',issue.body).prop('target','_blank');
							
							
							var liAAvatar = $('<div>').prop('style','float: left;');
							var aimg = '<img alt="" src="'+d.user.avatar_url+'" style="border-radius: 50%;"  height="32" width="32">';
							liAAvatar.append(aimg);
							
							var bauthor = '<p style="">'+d.user.login+' 在「'+issue.title+'」中说: '+'</p>';
							var btext = '<p style="font-size: 12px;">'+d.body+'</p>';
							var liABody = $('<div>').prop('style','margin-left: 40px;');
							liABody.append(bauthor).append(btext);
							
							liA.append(liAAvatar).append(liABody);
							
							li.append(liA);
							li.appendTo(comments);
						})
						
						}
						
						
					})
				}
			});


		}
	
	</script>
  </body>

</html>
